'menu': [
  'label': 'Edit'
  'submenu': [
    'label': 'Select Encoding'
    'command': 'encoding-selector:show'
  ]
]

'context-menu':
  'atom-text-editor': [
    'label': 'Change Encoding'
    'command': 'encoding-selector:show'
  ]
